<mat-toolbar class="header">
  <button
    mat-icon-button
    (click)="leftDrawer.toggle()"
    [matTooltip]="'site.tooltips.left_sidebar_tooltip' | translate"
  >
    <mat-icon> {{ leftDrawer.opened ? "menu_open" : "menu" }} </mat-icon>
  </button>
  <span>{{ 'site.title' | translate }}</span>
  <span class="spacer"></span>
  <router-outlet name="header"></router-outlet>
  <mat-select
    [formControl]="languageSelector"
    data-intro-id="language-selector"
    style="width: 120px"
  >
    <mat-option value="en">English</mat-option>
    <mat-option value="de">Deutsch</mat-option>
  </mat-select>
  <button
    mat-icon-button
    (click)="rightDrawer.toggle()"
    [matTooltip]="'site.tooltips.right_sidebar_tooltip' | translate"
  >
    <mat-icon [ngClass]="{ 'rotate-180': !!rightDrawer.opened }">
      {{ rightDrawer.opened ? "menu_open" : "menu" }}
    </mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="More Actions"
    [matMenuTriggerFor]="moreActions"
  >
    <mat-icon> more_vert </mat-icon>
  </button>
  <mat-menu #moreActions="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <mat-divider></mat-divider>
    <a
      mat-menu-item
      matTooltip="Donate & Support Us"
      href="https://www.buymeacoffee.com/bmbleau"
      data-intro-id="buy-me-a-coffee"
      target="_blank"
    >
      <mat-icon>sports_bar</mat-icon>
      <span>Buy me a Radler</span>
    </a>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="main-container" autosize>
  <mat-drawer #leftDrawer class="right-sidenav" position="start" [opened]="true" mode="side">
    <router-outlet name="left-drawer"></router-outlet>
  </mat-drawer>

  <ng-container *ngIf="loading$ | async; else content">
    <div class="center-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <ng-template #content>
      <router-outlet name="content"></router-outlet>
    </ng-template>

  <mat-toolbar class="footer">
    <router-outlet name="footer"></router-outlet>
  </mat-toolbar>

  <mat-drawer #rightDrawer class="right-sidenav" position="end" [opened]="true" mode="side">
    <router-outlet name="right-drawer"></router-outlet>
  </mat-drawer>
</mat-drawer-container>