<mat-toolbar>
  <span translate="site.title">Learn With Wikipedia</span>
  <span class="spacer"></span>
  <mat-select [formControl]="languageSelector" style="width: 120px;">
    <mat-option value="en">English</mat-option>
    <mat-option value="de">Deutsch</mat-option>
  </mat-select>
  <button mat-icon-button (click)="rightDrawer.toggle()" matTooltip="Toggle Right Sidebar">
    <mat-icon>
      menu
    </mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="main-container" autosize>
  <mat-drawer-content class="content-container">
    <ng-container *ngIf="loading$ | async; else content">
      <div class="center-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>

    <ng-template #content>
      <ng-container *ngIf="(article$ | async) as featuredArticle">
        <mat-card class="lesson-card">
          <mat-card-header>
            <mat-card-title>{{ featuredArticle.title }}</mat-card-title>
            <mat-card-subtitle>{{ featuredArticle.description }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="contents">
            <span
              *ngFor="let word of featuredArticle.content"
              mask
              [word]="word"
              [guesses]="guesses$ | async" 
            >{{ word }}</span>
          </mat-card-content>
        </mat-card>
      </ng-container>

      <form class="input-container" [formGroup]="guessForm" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label translate="site.input.guess">Guesses</mat-label>
          <input formControlName="currentGuess" matInput type="text">
        </mat-form-field>
      </form>
    </ng-template>
  </mat-drawer-content>

  <mat-drawer #rightDrawer class="right-sidenav" position="end" [opened]="true" mode="side">
    <div class="title" translate="site.tried_words">Guesses</div>
    <p *ngIf="guesses$ | async as guesses">{{ guesses.join(', ') }}</p>
  </mat-drawer>
</mat-drawer-container>