:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-divider.mat-divider-vertical {
    height: 100%;
    border-right-color: rgba(0,0,0,0.05);
    border-right-width: 2px;
  }

  mat-toolbar {
    height: 64px;
    display: flex;
    gap: 10px;

    &.header {
      border-bottom: 1px solid lightgray;
    }

    &.footer {
      position: fixed;
      bottom: 0px;
      border-top: 1px solid lightgray;
      font-size: 14px;
    }
  }

  .center-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
  }

  .main-container {
    flex: 1 auto;

    .content-container {
      
      .inner {
        margin: 20px;
      }

      .input-container {
        max-width: 800px;
        margin: auto;
        display: flex;

        mat-form-field {
          flex: 1 auto;
        }
      }
    }

    mat-card {
      display: block;
      max-width: 800px;
      margin: auto;

      &.lesson-card {
        margin-bottom: 25px;
        margin-top: 25px;
      }
    }

    .lesson-guesses {
      display: block;
      max-width: 800px;
      margin: auto;
    }

    .left-sidenav {
      display: flex;
      min-width: 320px;

      .input-container {
        max-width: 320px;
        margin: auto;
        display: flex;

        mat-form-field {
          flex: 1 auto;
        }
      }
    }

    .right-sidenav {
      width: 320px;
      padding: 10px;

      .title {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
    }
  }

  .spacer {
    margin-left: auto;
  }

  .contents {
    max-width: 800%;
    word-wrap: normal;
    margin: 20px 0px;

    span {
      display: inline-block;
      padding: 2px;
      margin: 2px;

      &.specal {
        margin: 2px 0px;
        padding: 0px;
        color: unset;
        background-color: unset;
        border-radius: 0px;
      }
    }
  }

  .select-article {
    cursor: pointer;
  }

  .selected-article {
    font-weight: bold;
  }

  ::ng-deep mat-list mat-list-item.selected {
    background-color: lighten(lightgray, 10%);
  }

  .rotate-180 {
    transform: rotate(180deg);
  }
}

.masked {
  background-color: black;
  color: black;

  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &--show {
    background-color: transparent;
    color: red;
  }

  &--cold {
    background-color: lightblue;
    color: lightblue;
  }

  &--warm {
    background-color: orange;
    color: orange;
  }

  &--warmer {
    background-color: darkorange;
    color: darkorange;
  }

  &--hot {
    background-color: red;
    color: red;
  }
}
