<mat-toolbar class="header">
  <button
    mat-icon-button
    (click)="leftDrawer.toggle()"
    matTooltip="Toggle Left Sidebar"
  >
    <mat-icon> {{ leftDrawer.opened ? "menu_open" : "menu" }} </mat-icon>
  </button>
  <span translate="site.title">Learn With Wikipedia</span>
  <span class="spacer"></span>
  <mat-select
    [formControl]="languageSelector"
    data-intro-id="language-selector"
    style="width: 120px"
  >
    <mat-option value="en">English</mat-option>
    <mat-option value="de">Deutsch</mat-option>
  </mat-select>
  <!-- <a
    href="https://www.buymeacoffee.com/bmbleau"
    data-intro-id="buy-me-a-coffee"
    target="_blank"
    mat-icon-button
    matTooltip="Buy me a coffee"
  >
    <mat-icon>coffee</mat-icon>
  </a> -->
  <button
    mat-icon-button
    (click)="rightDrawer.toggle()"
    matTooltip="Toggle Right Sidebar"
  >
    <mat-icon [ngClass]="{ 'rotate-180': !!rightDrawer.opened }">
      {{ rightDrawer.opened ? "menu_open" : "menu" }}
    </mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="More Actions"
    [matMenuTriggerFor]="moreActions"
  >
    <mat-icon> more_vert </mat-icon>
  </button>
  <mat-menu #moreActions="matMenu">
    <button mat-menu-item>Unknown Wordbank</button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <mat-divider></mat-divider>
    <a
      mat-menu-item
      matTooltip="Donate"
      href="https://www.buymeacoffee.com/bmbleau"
      data-intro-id="buy-me-a-coffee"
      target="_blank"
    >
      <mat-icon>coffee</mat-icon>
      <span>Buy me a coffee</span>
    </a>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="main-container" autosize>
  <mat-drawer
    #leftDrawer
    class="left-sidenav"
    position="start"
    [opened]="true"
    mode="side"
  >
    <div data-intro-id="left-drawer">
      <form
        class="input-container"
        [formGroup]="articleSearch"
        (ngSubmit)="addArticle()"
      >
        <mat-form-field appearance="fill">
          <mat-label translate="site.input.article">Article</mat-label>
          <input formControlName="search" matInput type="text" />
        </mat-form-field>
      </form>

      <mat-list *ngIf="articleId$ | async as currentArticleId">
        <mat-list-item
          (click)="selectArticle(item[0])"
          class="select-article"
          [ngClass]="{ selected: currentArticleId === item[0] }"
          *ngFor="let item of articles$ | async"
          ><span
            [ngClass]="{ 'selected-article': currentArticleId === item[0] }"
            >{{ item[1] }}</span
          ></mat-list-item
        >
      </mat-list>
    </div>
  </mat-drawer>

  <mat-drawer-content class="content-container">
    <ng-container *ngIf="loading$ | async; else content">
      <div class="center-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>

    <ng-template #content>
      <div class="inner">
        <form
          class="input-container"
          [formGroup]="guessForm"
          (ngSubmit)="submit()"
          data-intro-id="guess-input"
        >
          <mat-form-field appearance="outline">
            <mat-label translate="site.input.guess">Guesses</mat-label>
            <input
              formControlName="currentGuess"
              matInput
              type="text"
              [readOnly]="!!(article$ | async)?.unmasked"
            />
          </mat-form-field>
        </form>

        <ng-container *ngIf="article$ | async as featuredArticle">
          <mat-card class="lesson-card" data-intro-id="lesson-card">
            <mat-card-header>
              <mat-card-title>{{ featuredArticle.title }}</mat-card-title>
              <mat-card-subtitle>{{
                featuredArticle.description
              }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="contents">
              <span
                *ngFor="let word of featuredArticle.content"
                mask
                [word]="word"
                [unmasked]="featuredArticle.unmasked"
                [guesses]="guesses$ | async"
                >{{ word }}</span
              >
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="resetArticle(featuredArticle.id)">
                Reset
              </button>
              <span class="spacer"></span>
              <button
                mat-icon-button
                (click)="unmask(featuredArticle.id)"
                matTooltip="umask all words"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
    </ng-template>

    <mat-toolbar class="footer">
      <span *ngIf="article$ | async as featuredArticle">Words: {{ featuredArticle.content.length }}</span>
      <mat-divider [vertical]="true"></mat-divider>
      <!-- <span class="spacer"></span> -->
      <span *ngIf="guesses$ | async as guesses">Guesses: {{ guesses.length }}</span>
    </mat-toolbar>
  </mat-drawer-content>

  <mat-drawer
    #rightDrawer
    class="right-sidenav"
    position="end"
    [opened]="true"
    mode="side"
  >
    <div data-intro-id="right-drawer">
      <div class="title" translate="site.tried_words">Guesses</div>
      <p *ngIf="guesses$ | async as guesses">{{ guesses.join(", ") }}</p>
    </div>
  </mat-drawer>
</mat-drawer-container>
