/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.eTutor {
  min-width: 300px !important;
  max-width: 600px !important;
  width: 600px !important;
}

.maskable {
  display: inline-block;
  padding: 2px;
  margin: 2px;

  &.specal {
    margin: 2px 0px;
    padding: 0px;
    color: unset;
    background-color: unset;
    border-radius: 0px;
  }
}

.masked {
  background-color: black;
  color: black;

  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &--show {
    background-color: transparent;
    color: red;
  }

  &--cold {
    background-color: lightblue;
    color: lightblue;
  }

  &--warm {
    background-color: orange;
    color: orange;
  }

  &--warmer {
    background-color: darkorange;
    color: darkorange;
  }

  &--hot {
    background-color: red;
    color: red;
  }
}
